/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/README.md export-ignore
/composer.lock export-ignore
/esbuild.js export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/tests/ export-ignore
/tsconfig.json export-ignore