parameters:
    level: 5

    excludePaths:
        - tests/_output/*

    ignoreErrors:
        -
            identifier: throws.notThrowable
            path: tests/support/_generated/*

    paths:
        - src
        - tests

    scanFiles:
        - %rootDir%/../../../vendor/davidhirtz/yii2-skeleton/Yii.php